body{
    margin:0;
    font-family:Arial, sans-serif;
    background: linear-gradient(135deg,#f8edeb,#d8e2dc);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:#ffffff;
    padding:35px;
    width:340px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 15px 35px rgba(0,0,0,0.1);
    transition:0.3s;
}

.container:hover{
    transform:translateY(-5px);
}

h1{
    color:#6d6875;
}

p{
    font-size:14px;
    color:#555;
}

input{
    padding:10px;
    width:80%;
    border-radius:10px;
    border:2px solid #e5989b;
    outline:none;
    font-size:16px;
    text-align:center;
    transition:0.3s;
}

input:focus{
    border-color:#ffb4a2;
    box-shadow:0 0 8px #ffb4a2;
}

button{
    margin-top:15px;
    padding:10px 20px;
    border:none;
    border-radius:25px;
    background:#ffb4a2;
    color:white;
    font-size:15px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#e5989b;
    transform:scale(1.05);
}

#restart{
    background:#84a59d;
    margin-left:10px;
}

#restart:hover{
    background:#52796f;
}

#message{
    margin-top:15px;
    font-weight:bold;
    min-height:25px;
}
@keyframes shake{
    0%{transform:translateX(0);}
    25%{transform:translateX(-5px);}
    50%{transform:translateX(5px);}
    75%{transform:translateX(-5px);}
    100%{transform:translateX(0);}
}

.shake{
    animation:shake 0.3s;
}
@keyframes pop{
    0%{transform:scale(1);}
    50%{transform:scale(1.1);}
    100%{transform:scale(1);}
}

.pop{
    animation:pop 0.4s;
}